@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --black: #000;
    --blue: #634C9F;
    --white: #fff;
    --offwhite: #E5E7EB;
    --gray: #6B7280;
    --red: #DC2626;
    --lightRed: #F25321;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==BASIC-SETUP==*/
body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    background: var(--white)
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}


a,
a:hover,
a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    margin-bottom: 0;
}

.img-fluid {
    max-width: 100%;
}